.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: lightpink;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.videos, .videos video {
  position: absolute;
  top: 0;
  left:0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0;
}

/* @font-face {
  font-family: 'Montserrat';
  src: url(process.env.PUBLIC_URL + 'Montserrat-VariableFont_wght.ttf') format('ttf')
} */
